<div ...attributes>
  {{yield (hash
    errorMessage=this.errorMessage
    loading=this.isRunning
    isLoading=this.isRunning
    login=this.login
    each-account=(component 'login/each-account' login=this.login)
  )}}
</div>